<?xml version="1.0" ?>

<launch>

	<arg name="model" />
	<param name="use_gui" value="yes" />

	<!-- Parsing xacro and setting robot_description parameter -->
	<param name="robot_description" command="xacro $(find cuscobot)/urdf/cuscobot.xacro" />

	<!-- Start robot state publisher which will publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Starting Teleop node -->
	<!--  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" />  -->

	<!-- Starting Odometry and TF publisher node -->
	<node pkg="cuscobot" type="deadReckoning.py" name="odom" output="screen"/>

	<!-- Starting RPLidar node -->
	<include file="$(find rplidar_ros)/launch/rplidar_a1.launch" />

	<!-- ROS Serial driver -->
	<node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
	<param name="port"              type="string"               value="/dev/ttyACM0"/>
	<param name="baud"              type="int"                  value="57600"/>
	</node>

	<!-- RVIZ -->
	<!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cuscobot)/urdf/config.rviz" required="true" /> -->
</launch>
